<!DOCTYPE html>
<html>
<body>

    {% extends "navbar.html" %}
    {% set activePage = "programmieren" %}
    {% block content %}

    <div>
    <h1>Programmieren</h1>
    <p>Hier werden in Zukunft meine technischen Projekte veröffentlicht</p>
    </div>

    <div class="container my-5">
        <div class="bg-dark text-white">
            <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center bg-dark rounded-3 border shadow-lg">

                <div class="col-8 p-4">
                    <h1 class="display-4 fw-bold lh-1">Moving Game</h1>
                    <p class="lead">Simples Geschicklichkeitsspiel. Entstanden im Rahmen des Informatik-Seminarkurses 2019 – 2021</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                        <button type="button" class="btn btn-outline-secondary btn-lg px-4" href="/Moving-Game/StartMenu.html">Default</button>
                    </div>
                </div>
 
                <div class="col-4 p-4">
                    <img src="{{ url_for('static', filename='/assets/pictures/iconMoving.png')}}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
                </div>
           
            </div>
        </div>
    </div>

    {% endblock %}
</body>
</html>